*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    font-family: sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.left-panel{
    flex: 1;
    position: relative;
}

.left-panel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-panel{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-box img{
    width: 20%;
    object-fit: cover;
    margin-left: 80px;
}
.logo-box{
    position: absolute;
    top:20%;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;

    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.logo-box h1{
    font-size: 40px;
}

.right-panel h2{
    margin-bottom: 25px;
    font-size: 20px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label{
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus{
    border-color:#405f2f ;
}

.input-group input:valid{
    border-color: green;
}

.input-group input:invalid{
    border-color: red;
}

.create-account{
    width: 180px;
    padding: 12px;
    background: #608444;
    color:white;
    border-radius: 16px;
    cursor: pointer;
}

.create-account:hover{
    background: #7a9268;
}

.login-text{
    font-size: 14px;
}

.login-text a{
    color: blue;
    text-decoration: none;
    font-weight: 400;
}

.login-text a:hover{
    text-decoration: underline;
}

